@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.result {
  background-image: linear-gradient(#4633f0, #4b24cd);
  color: #fff;
  padding: 30px 0 0 0;
  border-radius: 0 0 30px 30px;
  text-align: center;
}

.result h4 {
  font-weight: 800;
  color: #cdc6ff;
}

.scored {
  padding: 20px;
  width: 110px;
  height: 110px;
  align-items: center;
  border-radius: 100%;
  margin: 20px auto;
  background-image: linear-gradient(#4b24cd, #4633f0);
  display: flex;
  flex-direction: column;
}

.scored span {
  font-size: 50px;
  font-weight: 900;
}

.scored p {
  font-size: smaller;
  color: #897bff;
}

.result h3 {
  margin-bottom: 10px;
}

.result .desc {
  color: #aba0fe;
  font-size: medium;
  margin: 0 0 20px 0;
}

.sum {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sum h3 {
  font-size: medium;
  margin-bottom: 20px;
}

.sum .res {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.res span {
  color: #a39ea7;
}

.reaction,
.memory,
.verbal,
.visual {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.reaction {
  background-color: #fff6f5;
  color: #ea6b70;
}

.memory {
  background-color: #fffbf2;
  color: #ea6b70;
}

.verbal {
  background-color: #f2fafa;
  color: #48c4a3;
}

.visual {
  background-color: #f3f3ff;
  color: #4440a9;
}

.left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.mainScore {
  font-weight: bold;
  color: #000000;
}

.sum button {
  background-color: #303b59;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  font-size: large;
  border: none;
  margin-top: 5px;
}

.sum button:hover {
  background-image: linear-gradient(#4633f0, #4b24cd);
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-items: center;
    margin-top: 120px;
  }

  .container {
    flex-direction: row;
    border-radius: 30px;
    background-color: #fff;
    width: 50%;
    box-shadow: 8px 8px 10px #d1d9f1;
  }

  .result {
    border-radius: 30px;
    width: 50%;
    height: 420px;
  }

  .scored {
    width: 150px;
    height: 150px;
  }

  .scored span {
    font-size: 70px;
    font-weight: 900;
  }

  .scored h3 {
    margin-top: 10px;
  }

  .sum {
    border-radius: 30px;
    width: 50%;
  }

  .result h3 {
    font-size: x-large;
  }

  .result .desc {
    font-size: large;
    margin: 30px;
  }

  .sum {
    gap: 12px;
  }

  .sum button {
    margin-top: 12px;
  }
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
